<table class="table table-bordered" style="margin-bottom:3px;">
                <tbody>
                <tr>
                    <td class="col-md-2">Task <br><br> Model</td>
                    <td > 
                        <div class="form-group input-sm col-sm-6">
                        <select id="task" class="form-control input-sm">
                            <option value="simulation">Simulation</option>
                            <option value="DA">Data Assimilation</option>
                            <option value="forcasting">Forecasting</option>
                        </select>
                        <select id="Model" class="form-control input-sm" >
                            <option value="teco_spruce">TECO Spruce</option>
                        </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Initial Parameters</td>
                    <td colspan="2" class="form-group">
                        <div class="col-sm-6">
                          <button id="setModelParameter" class="btn btn-primary-outline " type="button" >Set Initial Parameters</button>
                          <button id="runModel" class="btn btn-info-outline " type="button" >Run Model</button>
                        </div>
                    </td>
                </tr>
                <tr class="forecast">
                    <td class="col-md-2">Forecast Date</td>
                    <td >
                        <div class="form-group input-sm col-sm-6">
                            <label>Start: 2011/01/01  End Date:</label><input class-"form-control input-sm"type="date" name="end_date" max="2024-12-31">
                        </div>
                    </td>
                </tr>
                <tr class="forecast">
                    <td class="col-md-2">Treatment</td>
                    <td >
                        <div class="form-group input-sm col-sm-6">
                            <label>Temperature Adjustment (0-9 degree celsius): </label><input class="form-control input-sm" type="number" name="temp" min="0.0" max="9.0" step="0.1" value="0.0">
                        </div>
                    </td>
                </tr>
                <tr class="forecast">
                    <td class="col-md-2">Treatment</td>
                    <td >
                        <div class="form-group input-sm col-sm-6">
                            <label>CO2 Adjustment (380-900 ppm): </label><input class="form-control input-sm" type="number" name="co2" min="380.0" max="900.0" step="0.1" value="380.0">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id='task_result'></div>
