<h3>SPRUCE Ecological Forecasting System</h3>
<hr>


<p class="" style="width:80%">This system assimilates observational data from SPRUCE experiment to TECO model using MCMC algorithm, and then make forecasting of ecosystem dynamics. Carbon flux and pool size will be updated regularly.</p>


<hr>
<div id="front_viz" style="padding-left:20px"></div>
