<h3>Forecast Model Run on {{exact_date}}<br><br></h3>

<div style="max-width:60%;" align="center"> 
	<h4>GPP WEEKLY FORECAST</h4>
	<img src="{{ gpp_url }}" width="100%" height="auto" />
</div>

<div style="width:60%" align="center">
	<h4>ER WEEKLY FORECAST</h4>
	<img src="{{ er_url }}" width="100%" height="auto"/>
</div>

