     <h2>Workflow</h2>
     <div>    
        {{name}},This is the best web site on earth!!
        {{address}}
        
        <div class="ui-widget-header ui-corner-all" style="padding:2px;indent:2px;">US-HA1 Parameters</div>
        <form id="siteparam" class="form-stacked">
            <fieldset>
            <div class="span4" style="float:left">
            
                    <label for="vegtype" title="Vegetation Type (vegtype)">Vegetation Type</label><input name="vegtype" id="vegtype" value="{{ vegtype }}" type="text"><br>
                    <label for="wsmax" title="Maximum soil water">Maximum soil water (wsmax)</label><input name="wsmax" id="wsmax" value="{{ max_soil_water }}" type="text"><br>
                    <label for="wsmin" title="Minimum soil water">Minimum soil water (wsmin)</label><input name="wsmin" id="wsmin" value="5.5638" type="text"><br>
                    <label for="gddonset" title="Growing degree/day, Threshhold of plant growth per day (gddonset)">Plant growth degree/day</label><input name="gddonset" id="gddonset" value="584.38" type="text"><br>
                    <label for="LAIMAX" title="Maximum Leaf Area Index (LAIMAX)">Maximum Leaf Area Index</label><input name="LAIMAX" id="LAIMAX" value="2.3646" type="text"><br>
                    <label for="LAIMIN" title="Minimum Leaf Area Index (LAIMIN)">Minimum LAI</label><input name="LAIMIN" id="LAIMIN" value="0.01776" type="text"><br>
                    <label for="rdepth" title="Root Depth (rdepth)">Root Depth</label><input name="rdepth" id="rdepth" value="82.577" type="text"><br>
                    <label for="Rootmax" title="Maximum root biomass (Rootmax)">Maximum root biomass</label><input name="Rootmax" id="Rootmax" value="876.45" type="text"><br>
                    <label for="Stemmax" title="Maximum Stem Biomass (Stemmax)">Maximum Stem Biomass</label><input name="Stemmax" id="Stemmax" value="859.58" type="text"><br>
                    <label for="SapR" title="Proportion of Sapwood in Root biomass (SapR)">Sapwood in Root biomass</label><input name="SapR" id="SapR" value="0.31018" type="text"><br>
                    <label for="SapS" title="Proportion of Sapwood in Stem biomass (SapS)">Sapwood in Stem biomass</label><input name="SapS" id="SapS" value="0.1034" type="text"><br>
                    <label for="SLA" title="Specific Leaf Area (ratio: leaf area/leaf dry weight)">Specific Leaf Area (SLA)</label><input name="SLA" id="SLA" value="0.05298" type="text"><br>
                    <label for="GLmax" title="Maximum Leaf Growth Rate (GLmax)">Maximum Leaf Growth Rate</label><input name="GLmax" id="GLmax" value="0.05874" type="text"><br>
                </div>
                <div class="span1" style="float:left;COLOR:white;">.</div>
                <div class="span4" style="float:left">
                    <label for="GRmax" title="Maximum Root Growth Rate (GRmax)">Maximum Root Growth Rate</label><input name="GRmax" id="GRmax" value="0.08353" type="text"><br>
                    <label for="Gsmax" title="Maximum Stem Growth Rate (Gsmax)">Maximum Stem Growth Rate</label><input name="Gsmax" id="Gsmax" value="0.12698" type="text"><br>
                    <label for="stom_n" title="Stoma Number: 1 equals only in one side of leaf, 2 equals Stoma in both leaf sides">Stoma Number (stom_n)</label><input name="stom_n" id="stom_n" value="2" type="text"><br>
                    <label for="a1" title="a1 is an empirical coefficient in the photosythetic process (See Wang &amp; leuning - 1998)">a1 coefficient</label><input name="a1" id="a1" value="26.717" type="text"><br>
                    <label for="Ds0" title=" Ds0 is a coefficient related to VPD (Vapor Pressure Deficit) to affect Stomata Coductance in photosythetic subroutines">Ds0 coefficient</label><input name="Ds0" id="Ds0" value="2565.8" type="text"><br>
                    <label for="Vcmx0" title="Maximum rate of Carboxylation (vcmx0)">Maximum Rate of Carboxylation</label><input name="Vcmx0" id="Vcmx0" value="0.00015" type="text"><br>
                    <label for="extkU">extkU</label><input name="extkU" id="extkU" value="0.5" type="text"><br>
                    <label for="xfang" title="Coefficient in Photosythesis Subroutine(Reference - Sellers 1985 eq.13)(xfang)">Coefficient in Photosythesis Subroutine</label><input name="xfang" id="xfang" value="0" type="text"><br>
                    <label for="alpha" title="Light use efficiency(alpha)">Light use efficiency (alpha)</label><input name="alpha" id="alpha" value="0.17812" type="text"><br>
                    <label for="co2ca" title="Co2 concentration (ppm)">Co2 concentration</label><input name="co2ca" id="co2ca" value="3.70E-04" type="text"><br>
                    <label for="Tau_Leaf" title="Turnover rate of leaf pool (Tau_Leaf)">Turnover rate of leaf pool</label><input name="Tau_Leaf" id="Tau_Leaf" value="0.85114" type="text"><br>
                    <label for="Tau_Wood" title="Turnover rate of woody pool (Tau_Wood)">Turnover rate of woody pool</label><input name="Tau_Wood" id="Tau_Wood" value="12.239" type="text"><br>
                    <label for="Tau_Root" title="Turnover rate of root pool (Tau_Root)">Turnover rate of root pool</label><input name="Tau_Root" id="Tau_Root" value="0.50489" type="text"><br>
                </div>
                <div class="span1" style="float:left;COLOR:white;">.</div>
                <div class="span4" style="float:left">
                    <label for="Tau_F" title="Turnover rate of fine-root pool (Tau_F)">Turnover rate of fine-root pool</label><input name="Tau_F" id="Tau_F" value="2.0534" type="text"><br>
                    <label for="Tau_C" title="Turnover rate of course-root pool (Tau_C)">Turnover rate of course-root pool</label><input name="Tau_C" id="Tau_C" value="3.3147" type="text"><br>
                    <label for="Tau_Micro" title="Turnover rate of microbial pool (Tau_Micro)">Turnover rate of microbial pool</label><input name="Tau_Micro" id="Tau_Micro" value="0.58136" type="text"><br>
                    <label for="Tau_SlowSOM" title="Turnover rate of slow SOM (Tau_SlowSOM)">Turnover rate of slow SOM</label><input name="Tau_SlowSOM" id="Tau_SlowSOM" value="15.633" type="text"><br>
                    <label for="Tau_Passive" title="Turnover rate Passive Soil(Tau_Passive)">Turnover rate Passive Soil</label><input name="Tau_Passive" id="Tau_Passive" value="919.25" type="text"><br>
                    <label for="TminV" title="TminV">TminV</label><input name="TminV" id="TminV" value="-6.3833" type="text"><br>
                    <label for="TmaxV" title="TmaxV">TmaxV</label><input name="TmaxV" id="TmaxV" value="47.934" type="text"><br>
                    <label for="ToptV" title="ToptV">ToptV</label><input name="ToptV" id="ToptV" value="32.963" type="text"><br>
                    <label for="Tcold" title="Tcold">Tcold</label><input name="Tcold" id="Tcold" value="10.733" type="text"><br>
                    <label for="Gamma_Wmax" title="Gamma_Wmax">Gamma_Wmax</label><input name="Gamma_Wmax" id="Gamma_Wmax" value="0.00015" type="text"><br>
                    <label for="Gamma_Tmax" title="Gamma_Tmax">Gamma_Tmax</label><input name="Gamma_Tmax" id="Gamma_Tmax" value="0.00161" type="text"><br>
                </div>
                <div class="span1" style="float:left;COLOR:white;">.</div>
                <div class="span4" style="float:left">
                    <label for="nsc" title="Initial Non Structural Carbon (nsc)">Non Structural Carbon</label><input name="nsc" id="nsc" value="85.35" type="text"><br>
                    <label for="Q_leaf" title="Initial Leaf Carbon pool size (Q_leaf)">Leaf Carbon pool size</label><input name="Q_leaf" id="Q_leaf" value="230.86" type="text"><br>
                    <label for="Q_wood" title="Initial woody carbon pool size (Q_wood)">Woody carbon pool size</label><input name="Q_wood" id="Q_wood" value="8996.23" type="text"><br>
                    <label for="Q_root1" title="Initial Root1 carbon pool size (Q_root1)">Root1 carbon pool size</label><input name="Q_root1" id="Q_root1" value="1001.16" type="text"><br>
                    <label for="Q_root2" title="Initial Root2 carbon pool size (Q_root2)">Root2 carbon pool size</label><input name="Q_root2" id="Q_root2" value="501.3" type="text"><br>
                    <label for="Q_root3" title="Initial Root3 carbon pool size (Q_root3)">Root3 carbon pool size</label><input name="Q_root3" id="Q_root3" value="128.57" type="text"><br>
                    <label for="Q_coarse" title="Initial course-litter carbon pool size (Q_coarse)">course-litter carbon pool size</label><input name="Q_coarse" id="Q_coarse" value="523.57" type="text"><br>
                    <label for="Q_fine" title="Initial fine-litter pool size (Q_fine)">Fine-litter pool size</label><input name="Q_fine" id="Q_fine" value="192.0" type="text"><br>
                    <label for="Q_micr" title="Initial microbial pool size (Q_micr)">Microbial pool size</label><input name="Q_micr" id="Q_micr" value="50.49" type="text"><br>
                    <label for="Q_slow" title="Soil organic matter(SOM) with slow decomposition (Q_slow)">SOM with slow decomposition</label><input name="Q_slow" id="Q_slow" value="1502.14" type="text"><br>
                    <label for="Q_pass" title="Soil organic matter(SOM) with passive decomposition (Q_pass)">SOM with passive decomposition</label><input name="Q_pass" id="Q_pass" value="260.43" type="text"><br>
                    <label for="S_w_min" title="S_w_min">S_w_min</label><input name="S_w_min" id="S_w_min" value="0.5" type="text"><br>
                    <label for="Q10_h" title="Q10_h">Q10_h</label><input name="Q10_h" id="Q10_h" value="2.2" type="text"><br>
                <input name="site" id="site" value="US-HA1" type="hidden">
                <input name="inputfile" id="inputfile" value="US-Ha1forcing.txt" type="hidden">
                <input name="NEEfile" id="NEEfile" value="HarvardForest_hr_Chuixiang.txt" type="hidden">
                <input name="outputfile" id="outputfile" value="US-Ha1" type="hidden">
                <input name="lat" id="lat" value="42.5378" type="hidden">
                <input name="Longitude" id="Longitude" value="-72.1715" type="hidden">
            </div>
            </fieldset>
        </form>
    
     </div>
