<h3>SPRUCE Ecological Forecasting System</h3>
<p>This system assimilates observational data from SPRUCE experiment to TECO model using MCMC algorithm, and then make forecasting of ecosystem dynamics. Carbon flux and pool size will be updated regularly.</p>
<div id="front_viz"></div>
