<h3>Forecasting done on {{gpp_url_timestamp}} time. <br><br></h3>

<div style="max-width:60%;" align="center"> 
	<h4>GPP_WEEKLY_FORECAST</h4>
	<img src="{{ gpp_url }}" width="100%" height="auto" />
</div>

<div style="width:60%" align="center">
	<h4>ER_WEEKLY_FORECAST</h4>
	<img src="{{ er_url }}" width="100%" height="auto"/>
</div>

