<table class="table table-bordered" style="margin-bottom:3px;">
                <tbody>
                <tr>
                    <td class="col-md-2">Task <br><br> Model</td>
                    <td > 
                        <select id="task" class="selectpicker col-md-2">
                            <option value="simulation">Simulation</option>
                            <option value="DA">Data Assimilation</option>
                            <option value="forcasting">Forecasting</option>
                        </select><br><br>
                        <select id="Model" class="selectpicker col-md-2" >
                            <option value="teco_spruce">TECO Spruce</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Initial Parameters</td>
                    <td colspan="2"><button style="width: 217px;" aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="opener" type="button"><span class="ui-button-text">Set Initial Parameters</span></button></td>
                </tr>
                <tr id="init_data">
                    <td>Initialize Data</td>
                    <td colspan="2">
                        <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="fopener" type="button"><span class="ui-button-text">Simulation Weather Years</span></button><br><br>
                    </td>
                </tr>
                <tr style="display: none;" id="init_forcast" class="fdata">
                      <td>Forecast  Data</td>
                      <td colspan="2">
                          <button style="width: 217px;" aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="fyr_opener" type="button"><span class="ui-button-text">Forcasting Weather Years</span></button>
                      </td>
                  </tr>
                <tr id="mw">
                    <td><input id="mod_weather" value="mod_weather" type="checkbox">&nbsp;Modify Weather</td>
                    <td colspan="3"><input id="mod_w_txt" style="width: 90%; display: none;" value="{'T_air':[('add',0)]}" type="text">
                    <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="display: none;" id="mw_opener" type="button"><span class="ui-button-text">Help</span></button>
                    </td>
                </tr>
                </tbody>
            </table>
